body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  /* Navigation Bar */
  nav {
    background-color:black;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  background-image: url("img/logo.jpeg");


  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #deece4;
    text-decoration: none;
  }
  
  /* Hero Section */
  header {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  /* About Me Section */
  #about {
    padding: 50px;
    text-align: center;
    color:#deece4
  }
  
  /* Skills Section */
  #skills {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Projects Section */
  #projects {
    padding: 50px;
    text-align: center;
    color:#deece4;
  }
  
  .project {
    margin-bottom: 20px;
    color:#deece4;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
  }
  
  /* Contact Section */
  #contact {
    padding: 50px;
    text-align: center;
    color:#deece4
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contact-form label {
    margin-bottom: 10px;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: white;
    color: #fff;
    padding: 20px;
    text-align: center;
  }